.login-container {
    min-height: fit-content;
    width: 100%;
}

form.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

label.edit {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 5px;
}

input.edit {
    padding: 6px 8px;
    margin-top: 10px;
    background-color: white;
    height: 22px;
    width: 250px;
    border: 1px solid gray;
}
input.edit:hover {
    background-color: rgb(248, 248, 248);
}

select.edit {
    height: 30px;
    width: 265px;
    padding: 0px 8px;
}

textarea.edit {
    width: 250px;
    padding: 6px 8px;
    min-height: 100px;
}
textarea.edit:hover {
    background-color: rgb(248, 248, 248);
}

button.edit {
    margin-top: 20px;
}
button.edit:hover {
    background-color: rgb(1, 225, 255);
    border: 1px solid rgb(1, 225, 255);
    transition-duration: 1s;
}

button.cancel {
    background-color: rgb(242, 242, 242);
}

button.cancel:hover {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    transition-duration: 1s;
}
