* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


body {
    width: 100vw;
}

#root {
    width: 100%;
    margin-right: 0;
}

.navbar-container {
    max-width: 100%;
    height: 100px;
    display: flex;
    margin-left: -15px;
    padding-right: 100px;
    position: relative;
    top: 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid lightgrey;
}

ul.navbar {
    min-width: 100%;
}

li.navbar {
    display: flex;
    justify-content: space-between;
}

li.navbar a {
    text-decoration: none;
}

li.navbar::marker {
    list-style: none;
    color: white;
}

.navbar-left {
    margin-right: 40px;
}

.navbar-right {
    margin-left: 40px;
    display: inline-flex;
    width: 50%;
}

.all.business,
.add.business {
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    margin-left: 40px;
}

.all.business:hover, .add.business:hover {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
}


.nav-button {
    padding: 8px 16px;
    height: 36px;
    border: 1px solid lightgray;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 15px;
    border-radius: 5px;
    width: fit-content;

}

.sips-logo {
    height: 40px;
    width: auto;
    margin-top: 15px;
    position: relative;
}


#signup-button {
    background-color: rgb(1, 194, 220);
    color: white;
    border: 1px solid rgb(1, 194, 220);
    width: fit-content;
}
#signup-button:hover {
    background-color: rgb(1, 225, 255);
    border: 1px solid rgb(1, 225, 255);
    transition-duration: 1s;

}

.outer.business {
    height: 100vh;
    width: 100vw;
}

.inner.business {
    height: 100vh;
    width: 40%;
    margin: 10px auto;
    display: flex;
    flex-flow: column;
}

.each.business {
    margin: 15px 0px 10px 15px;
    border: 1px solid lightgray;
    width: 80%;
    padding: 20px;
}

h2 {
    text-align: center;

}

.form {
    height: 100vh;
    width: 50%;
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: right;
}

input, textarea, select {
    margin-left: 10px;
}

label {
    margin: 0 0 20px 0;
}

button.cancel {
    padding: 8px 16px;
    height: 36px;
    width: fit-content;
    border: 1px solid lightgray;
    background-color: lightgray;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 15px;
    border-radius: 5px;
}

button.submit, button.update, button.add, button.signup, button.login {
    padding: 8px 16px;
    height: 36px;
    width: fit-content;
    background-color: rgb(1, 194, 220);
    border: 1px solid rgb(1, 194, 220);
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
}

button.logout {
    padding: 4px 8px;
    height: 18px;
    width: fit-content;
    background-color: rgb(1, 194, 220);
    border: 1px solid rgb(1, 194, 220);
    font-size: 8px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
}

button.delete {
    padding: 8px 16px;
    height: 36px;
    width: fit-content;
    background-color: lightgray;
    border: 1px solid lightgray;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 15px;
    border-radius: 5px;
}



textarea {
    width: 350px;
    overflow-y: scroll;
    height: 100px;
}

input {
    height: 20px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 5px;
}

.profile-dropdown {
    height: 100px;
    width: 150px;
    padding: 10px;
    background-color: azure;
    border-radius: 5px;
    border: 2px solid lightgray;
}

.profile.menu {
    height: 40px;
    width: 40px;
    background-color: rgb(1, 194, 220);
    border: 1px solid rgb(1, 194, 220);
    border-radius: 5px;
}
