* {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}



html{
    width: 100vw;
    box-sizing: border-box;
    min-height: 100vh;
}

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;

}

#root {
    width: 100%;
    margin-right: 0;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;

}

.page.container {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0 0 200px;
}

.navbar-container {
    max-width: 100%;
    height: 100px;
    display: flex;
    margin-left: -15px;
    padding-right: 100px;
    position: relative;
    top: 0;
    /* background-color: rgb(242, 242, 242); */
    border-bottom: 2px solid rgb(1, 194, 220);
}

ul.navbar {
    min-width: 100%;
}

li.navbar {
    display: flex;
    justify-content: space-between;
}

li.navbar a {
    text-decoration: none;
}

li.navbar::marker {
    list-style: none;
    color: white;
}

.navbar-left {
    margin-right: 40px;
}

.navbar-right {
    margin-left: 40px;
    display: inline-flex;
    width: 50%;
}

.all.business,
.add.business {
    padding-top: 15px;
    margin-top: 15px;
    text-align: center;
    margin-left: 40px;
    width: fit-content;
}

.all.business:hover, .add.business:hover {
    transform: scale(1.1);
    border-bottom: 2px solid rgb(1, 194, 220);
}


.nav-button {
    padding: 8px 16px;
    height: 36px;
    border: 1px solid lightgray;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 5px;
    width: fit-content;

}

#demo-button, #login-button {
    background-color: white;
    border: 1px solid white;
}

#demo-button:hover, #login-button:hover {
background-color: rgb(242, 242, 242);
border: 1px solid rgb(242, 242, 242);
transition-duration: 1s;
}

.sips-logo {
    height: 40px;
    width: auto;
    margin-top: 15px;
    position: relative;
}


#signup-button {
    background-color: rgb(1, 194, 220);
    color: white;
    border: 1px solid rgb(1, 194, 220);
    width: fit-content;
}
#signup-button:hover {
    background-color: rgb(1, 225, 255);
    border: 1px solid rgb(1, 225, 255);
    transition-duration: 1s;

}



h2 {
    text-align: center;

}

.form {
    height: 100vh;
    width: 50%;
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: right;
}

input, textarea, select {
    margin-left: 10px;
}

label {
    margin: 0 0 20px 0;
}

button.cancel {
    padding: 8px 16px;
    height: 36px;
    width: fit-content;
    border: 1px solid lightgray;
    background-color: lightgray;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 15px;
    border-radius: 5px;
}

button.submit, button.update, button.add, button.signup, button.login {
    padding: 8px 16px;
    height: 36px;
    width: fit-content;
    background-color: rgb(1, 194, 220);
    border: 1px solid rgb(1, 194, 220);
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
}

button.logout {
    padding: 8px 16px;
    height: 36px;
    width: fit-content;
    background-color: rgb(1, 194, 220);
    border: 1px solid rgb(1, 194, 220);
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    margin-right: 15px;
}
button.logout:hover {
    background-color: rgb(1, 225, 255);
    border: 2px solid rgb(1, 225, 255);
    transition-duration: 1s;
}

button.delete {
    padding: 8px 16px;
    height: 36px;
    width: fit-content;
    background-color: lightgray;
    border: 1px solid lightgray;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 15px;
    border-radius: 5px;
}



textarea {
    width: 350px;
    overflow-y: scroll;
    height: 100px;
}

input {
    height: 20px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 5px;
}

.profile.menu {
    height: 40px;
    width: 40px;
    background-color: rgb(1, 194, 220);
    border: 1px solid rgb(1, 194, 220);
    border-radius: 5px;
}
.profile.menu:hover {
    background-color: rgb(1, 225, 255);
    border: 2px solid rgb(1, 225, 255);
    transition-duration: 1s;
}

.profile-dropdown {
    height: 60px;
    width: fit-content;
    padding: 10px;
    background-color: azure;
    border-radius: 5px;
    border: 2px solid lightgray;
    list-style: none;
}
