.review-container {
    min-height: fit-content;
    width: 100%;
}

form.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

label.review {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 5px;
}

input.review {
    padding: 6px 8px;
    margin-top: 10px;
    background-color: white;
    height: 22px;
    width: 250px;
    border: 1px solid gray;
}
input.review:hover {
    background-color: rgb(248, 248, 248);
}

select.review {
    height: 30px;
    width: 265px;
    padding: 0px 8px;
}

textarea.review {
    width: 250px;
    padding: 6px 8px;
    min-height: 100px;
}
textarea.review:hover {
    background-color: rgb(248, 248, 248);
}

button.review {
    margin-top: 20px;
    margin-bottom: 20px;
}
button.review:hover {
    background-color: rgb(1, 225, 255);
    border: 1px solid rgb(1, 225, 255);
    transition-duration: 1s;
}
