
.home.navbar-container {
    background: url(https://www.linkpicture.com/q/cafecountercropped.jpeg) no-repeat;
    height: 400px;
    background-size: cover;
    background-position: fixed;
    margin-top: -10px;
    max-width: 100%;
}



.home.navbar-left {
    margin-right: 50px;
    margin-top: 30px;
}

.home.sips-logo {
    height: 100px;
    width: auto;
}
.sips-logo:hover {
    transform: scale(1.05);
}


.home.all {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    transition-property: border 1s;
    height: fit-content;
    padding: 0 0 8px 0;
    font-weight: bold;
    margin-left: 30px;
    border-bottom: 3px solid rgb(1, 194, 220);
}

.home.all:hover {
 transform: scale(1.1);
 background-color: none;
}

.home.add {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    transition-property: border 1s;
    height: fit-content;
    padding: 0 0 8px 0;
    font-weight: bold;
    margin-left: 30px;
    border-bottom: 3px solid rgb(1, 194, 220);
}

.home.add.businesses:hover {
    transform: scale(1.1);
}

.home.nav-button {
    margin-left: 30px;
}

#home-demo-button {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    padding: 10px 16px;
    height: 42px;
    font-weight: bold;
}
#home-demo-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition-duration: 1s;
}

#home-signup-button {
    background-color: rgb(1, 194, 220);
    border: 2px solid rgb(1, 194, 220);
    color: white;
    padding: 10px 16px;
    font-weight: bold;
}
#home-signup-button:hover {
    background-color: rgb(1, 225, 255);
    border: 2px solid rgb(1, 225, 255);
    transition-duration: 1s;
}

#home-login-button {
    border: 2px solid white;
    color: white;
    padding: 10px 16px;
    font-weight: bold;
}
#home-login-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition-duration: 1s;
}

#categories-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgb(242, 242, 242);
    width: 100%;
}

h2.home {
    font-size: 28px;
    font-weight: bold;
}

.categories.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image-container {
    width: 180px;
    height: 180px;
    margin: 30px;
    background-color: rgb(1, 194, 220);
    border-radius: 5px;
}

.category-image {
    min-width: 100%;
    max-width: 100%;
    height: 70%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

a {
    text-decoration: none;
}

.category.label {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    color: white;
}
.image-container:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    background-color:  rgb(1, 225, 255);
}
